* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mashin {
    background-color: aquamarine;
    width: 400px;
    height: 500px;
}
.hariu {
    height: 130px;
}
.bodoh {
    padding: 15px;
}
.towchluur {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    
}
.temdegt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.uildel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.bodoh {
    display: flex;
}